version: ~> 1.0 # needed for imports

import: scala/scala-dev:travis/default.yml

language: scala

scala:
  - 2.11.12
  - 2.12.10
  - 2.13.1

env:
  - ADOPTOPENJDK=8     SCALAJS_VERSION=1.0.0

install:
  - git fetch --tags # get all tags for sbt-dynver

script: ./build.sh

notifications:
  email:
    - adriaan.moors@lightbend.com
    - seth.tisue@lightbend.com
    - antoine@gourlay.fr
