version: ~> 1.0 # needed for imports

import: scala/scala-dev:travis/default.yml

language: scala

scala:
  - 3.0.0-M3
  - 2.11.12
  - 2.12.13
  - 2.13.4

env:
  - ADOPTOPENJDK=8     SCALAJS_VERSION=       CACHE_WORKAROUND=see-PR-335
  - ADOPTOPENJDK=8     SCALAJS_VERSION=1.5.0  CACHE_WORKAROUND=see-PR-335
  - ADOPTOPENJDK=11    SCALAJS_VERSION=       CACHE_WORKAROUND=see-PR-335

matrix:
  include:
    - scala: 2.11.12
      env: ADOPTOPENJDK=8     SCALANATIVE_VERSION=0.4.0
    - scala: 2.12.13
      env: ADOPTOPENJDK=8     SCALANATIVE_VERSION=0.4.0
    - scala: 2.13.4
      env: ADOPTOPENJDK=8     SCALANATIVE_VERSION=0.4.0

install:
  - git fetch --tags # get all tags for sbt-dynver

script: ./build.sh

notifications:
  email:
    - seth.tisue@lightbend.com
